<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Nouvelle Inscription</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="light" (click)="save()">
            <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid margin-bottom>
        <ion-row>
            <ion-col col-12>
                <ion-item-divider color="primary">
                    Adminstration</ion-item-divider>
                <ion-row>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label floating>Année Scolaire</ion-label>
                            <ion-select [(ngModel)]="admission.scolar_year" (ngModelChange)="onScolarYearChange($event)">
                                <ion-option *ngFor="let scolarYear of facility.scolar_years;let i=index" value="{{scolarYear.id}}">
                                    {{scolarYear.name}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label floating>Pièces Requise</ion-label>
                            <ion-select [(ngModel)]="admission.attachments.requirements" multiple="true">
                                <ion-option *ngFor="let requirement of facility.admission_requirements" value="{{requirement.id}}">
                                    {{ requirement.name }}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                        <!-- <ion-item>
                            <ion-label floating>Status</ion-label>
                            <ion-input type="text" name="parent[name]"></ion-input>
                        </ion-item> -->
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <ion-item>
                            <ion-label floating>Frais d'inscription</ion-label>
                            <ion-select [(ngModel)]="admission.tuition_fees" multiple="true">
                                <ion-option *ngFor="let tuitioFee of facility.tuition_fees" value="{{tuitioFee.id}}">
                                    {{tuitioFee.name}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 padding>
                <ion-list>
                    <ion-item-divider color="primary">
                        Contact</ion-item-divider>
                    <ion-item-divider color="light-grey" margin-top>
                        <ion-icon name="person"></ion-icon> Info Personnelle</ion-item-divider>
                    <ion-item>
                        <ion-label floating>Nom et Prénom</ion-label>
                        <ion-input type="text" [(ngModel)]="admission.contact.name"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>CIN (Card d'Identité Nationale)</ion-label>
                        <ion-input type="text" [(ngModel)]="admission.contact.extra_fields.cin"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Téléphone Mobile</ion-label>
                        <ion-input type="text" [(ngModel)]="admission.contact.extra_fields.mobile_phone"></ion-input>
                    </ion-item>
                    <ion-item-divider color="light-grey" margin-top>
                        <ion-icon name="home"></ion-icon>
                        Adresse Physique</ion-item-divider>
                    <ion-item>
                        <ion-label floating>Adresse</ion-label>
                        <ion-input type="text" [(ngModel)]="admission.contact.address.address"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Code Postal</ion-label>
                        <ion-input type="text" [(ngModel)]="admission.contact.address.zip_code"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Cité</ion-label>
                        <ion-input type="text" [(ngModel)]="admission.contact.address.city"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Pays</ion-label>
                        <ion-input type="text" [(ngModel)]="admission.contact.address.country"></ion-input>
                    </ion-item>
                    <ion-item-divider color="light-grey" margin-top>
                        <ion-icon name="at"></ion-icon>
                        Compte</ion-item-divider>
                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="text" [(ngModel)]="admission.contact.email"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password" [(ngModel)]="admission.contact.password"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col col-6 padding>
                <ion-list>
                    <ion-item-divider color="primary">Elève</ion-item-divider>
                    <ion-item-divider color="light-grey" margin-top>
                        <ion-icon name="person"></ion-icon> Info Personnelle</ion-item-divider>
                    <ion-item>
                        <ion-label floating>Nom et Prénom</ion-label>
                        <ion-input type="text" [(ngModel)]="admission.student.name"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Date de naissance</ion-label>
                        <ion-datetime [(ngModel)]="admission.student.extra_fields.birthdate" displayFormat="DD/MM/YYYY"></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label>Gendre</ion-label>
                        <ion-select [(ngModel)]="admission.student.extra_fields.gender">
                            <ion-option value="m">Garçon</ion-option>
                            <ion-option value="f">Fille</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item-divider color="light-grey" margin-top>
                        <ion-icon name="at"></ion-icon>
                        Compte</ion-item-divider>
                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="text" [(ngModel)]="admission.student.email"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input [(ngModel)]="admission.student.password" type="password"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>