<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">Se connecter</div>
        <div class="panel-body">
            <form class="form">
                <fieldset>
                    <div class="form-group">
                        <label for="email" class="col-md-12 control-label">Adress Email</label>

                        <div class="col-md-12">
                            <input [(ngModel)]="credentials.email" type="email" class="form-control" name="email" placeholder="Votre adresse email" required autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-12 control-label">Mot de passe</label>

                        <div class="col-md-12">
                            <input type="password" [(ngModel)]="credentials.password" class="form-control" placeholder="Mot de passe" name="password" required>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-12">
                            <button (click)="login()" class="btn btn-primary btn-block">
                            Se connecter
                        </button>

                            <!-- <a class="btn btn-link" (click)="recover()">
                            Mot de passe oublié?
                        </a>
                      -->
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>