<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only clear (click)="newAdmission()">
          <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="isCurrentFacilitySet; then facilitytBlock; else selectFacilityBlock"></div>
    <ng-template #facilitytBlock>
        <div *ngIf="facility.admissions.length > 0; then admissionsListBlock; else noAdmissionsFoundBlock"></div>
        <ng-template #admissionsListBlock>
            <ion-list>
                <ion-item>
                    <button color="light" ion-item *ngFor="let admission of facility.admissions" (click)="admissionTapped($event, admission)">
              {{admission.student.name}}
            </button>
                </ion-item>
            </ion-list>
        </ng-template>
        <ng-template #noAdmissionsFoundBlock>
            <ion-list>
                <ion-item>
                    <button ion-item>
                  <ion-icon name="eye-off" item-start></ion-icon>
                  Aucune inscription trouvée.
                  <ion-icon color="warning" name="alert" item-end></ion-icon>
                </button>
                </ion-item>
            </ion-list>
        </ng-template>
        <button ion-button icon-left (click)="newAdmission()">
                <ion-icon name="add"></ion-icon>Nouvelle Inscription</button>
    </ng-template>
    <ng-template #selectFacilityBlock>
        <ion-grid>
            <ion-row>

                <ion-col *ngFor="let facility of facilities">
                    <ion-card padding>
                        <ion-card-title>{{facility.name}}</ion-card-title>
                        <p padding>
                            {{ facility.address }} <br /> {{ facility.phone }}
                        </p>
                        <button color="secondary" text-center full icon-left ion-item (click)="facilityTapped($event, facility)">
                                <ion-icon name="school"></ion-icon> Se connecter</button>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ng-template>
</ion-content>