// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.item-md-light-grey,
.item-divider-md-light-grey {
    color: color($colors, 'mid-grey');
    background-color: color($colors, 'light-grey');
}

[bold] {
    font-weight: bold;
}

[bolder] {
    font-weight: bolder;
}

[italic] {
    font-style: italic;
}

[border] {
    border: 1px solid #e0dddd;
}

[border-left] {
    border-left: 1px solid #e0dddd;
}

[border-right] {
    border-right: 1px solid #e0dddd;
}

[border-bottom] {
    border-bottom: 1px solid #e0dddd;
}

[border-top] {
    border-top: 1px solid #e0dddd;
}

.border-primary-left {
    border-left: 2px solid color($colors, primary);
}